<component name="ArtifactManager">
  <artifact type="war" name="spring-demo-mvc:war">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_demo_mvc_war</output-path>
    <root id="archive" name="spring-demo-mvc_war.war">
      <element id="artifact" artifact-name="spring-demo-mvc:war exploded" />
    </root>
  </artifact>
</component>